<% include ../partials/header.ejs %>
<main class="index">

  <% games.forEach(game=> { %>
    <div class="game-box">
      <a href="/games/<%=game.id %>" class="game-name" ><%= game.name %></a>
      <a href="/games/<%= game.id %>/edit" class="button">Edit</a>
      <form method="POST" action="/games/<%= game.id %>?_method=DELETE">
        <input type="submit" value="Delete" class="button">
      </form>
    </div>
  <% }) %>

</main>
<% include ../partials/footer.ejs %>