<% include ../partials/header.ejs %>
<main class="new">

  <h2>Add New Game</h2>
  <form id="newform" method="POST" action="/games">
    <input type="text" name="name" placeholder="Game Name" /><br />
    <textarea name="description" form="newform" class="text-area" placeholder="Game Description"></textarea>
    <input type="text" name="players" placeholder="Max Players" />
    <br />
    <input type="submit" class="button" value="Create"/>
    <a href="/games" class="button lift" >Go Back</a>
  </form>


</main>
<% include ../partials/footer.ejs %>